snippet html "html base" b
<!DOCTYPE html>
<html>
	<head>
		<meta charset="${1:utf-8}">
		<title>${2:Title}</title>
		$7
	</head>
	<body$8>
		$0		
	</body>
</html>
endsnippet

snippet b "tag" b
<$1>
	$0
</${1/(\w+).*/$1/}>
endsnippet

snippet s "script" b
<script src="$0" type="text/javascript"></script>
endsnippet

snippet c "css" b
<link rel="stylesheet" href="$0" type="text/css" />
endsnippet
