@import ".config/wofi/colors.css";

#window {
     margin: 5px;
     border: 2px solid @source_color;
     background-color: @background;
}
#input {
     margin: 5px;
     border: 1px solid @source_color;
     color: @on_background;
     background-color: @background;
}
#inner-box {
     margin: 5px;
     background-color: @background;
}
#outer-box {
     margin: 5px;
     background-color: @background;
}
#scroll {
     background-color: @background;
}
#entry {
     background-color: @background;
}
#entry:selected {
     background-color: @primary;
}
#text {
     color: @on_background;
     background-color: @background;
}
#text:selected {
     font-weight: 500;
     color: @on_primary;
     background-color: @primary;
}
