#window {
     margin: 5px;
     border: 2px solid {{colors.source_color.default.hex}};
     background-color: {{colors.background.default.hex}};
}
 #input {
     margin: 5px;
     background-color: {{colors.background.default.hex}};
}
 #inner-box {
     margin: 5px;
     background-color: {{colors.background.default.hex}};
}
 #outer-box {
     margin: 5px;
     background-color: {{colors.background.default.hex}};
}
 #scroll {
     background-color: {{colors.background.default.hex}};
}
 #entry {
     background-color: {{colors.background.default.hex}};
}
 #entry:selected {
     background-color: {{colors.source_color.default.hex}};
}
 #text:selected {
     font-weight: 500;
     color: {{colors.on_background.default.hex}};
     background-color: {{colors.source_color.default.hex}};
}
 #text {
     background-color: {{colors.background.default.hex}};
}
